<h2 class=connections_title>Connection <span class="requests">Requests</span></h2>

<ul>
  <% connections_requested.each do |connection| %>
    <li><%= connection.receiver.name %></li>
  <% end %>
</ul>

<h2 class=connections_title><span class="pending">Pending</span> Connections</h2>

<ul>
  <% connections_received.each do |connection| %>
    <li class="d-flex align-middle">
      <%= connection.requester.name %>
      <%= button_to "Accept", connection_accept_path(connection), class: "btn btn-success btn-sm m-2" , method: :patch %>
      <%= button_to "Decline", connection_reject_path(connection), class: "btn btn-success btn-sm m-2" , method: :patch %>
    </li>
  <% end %>
</ul>

<h2 class=connections_title><span class="my">My</span> Connections</h2>

<ul>
  <% my_connections.each do |connection| %>
    <% if current_user.id == connection.receiver_id %>
      <li><%= link_to connection.requester.name, artist_path(connection.requester) %></li>
    <% else %>
      <li><%= link_to connection.receiver.name, artist_path(connection.receiver) %></li>
    <% end %>
      <p><%= link_to 'message user', connection_path(connection) %></p>
  <% end %>
</ul>
      <div class="profile-cards">
        <% my_connections.each do |connection| %>
<%# raise %>
          <% if current_user.id == connection.receiver_id %>
            <%= render partial: "shared/connection_card", locals: {user: connection.requester} %>
          <% else %>
            <%= render partial: "shared/connection_card", locals: {user: connection.receiver} %>
          <% end %>
        <% end %>

      </div>