<div class="container chatroom"
  data-controller="connection-subscription"
  data-connection-subscription-connection-id-value="<%= @connection.id %>"
>
  <h1><%= "Chat between #{@connection.receiver.name} and #{@connection.requester.name}" %></h1>
  <div class="messages" data-connection-subscription-target="messages">
    <% @connection.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>

  <%= simple_form_for [@connection, @message],
    html: { data: { action: "turbo:submit-end->connection-subscription#resetForm" },
    class: "d-flex" } do |f|
  %>
    <%= f.input :content,
      label: false,
      placeholder: "Message #{@connection.receiver.name}",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Send", class: "btn btn-success mb-3" %>
  <% end %>
</div>
