<div class="container chatroom">
  <h1><%= "Chat with #{@connection.receiver.email}" %></h1>

  <div class="messages">
    <% @connection.messages.each do |message| %>
      <div id="message-<%= message.id %>">
        <small>
          <strong><%= message.sender.email %></strong>
          <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </small>
        <p><%= message.content %></p>
      </div>
    <% end %>
  </div>

  <%= simple_form_for [@connection, @message],
    html: {class: "d-flex"} do |f|
  %>
    <%= f.input :content,
      label: false,
      placeholder: "Message #{@connection.receiver.email}",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Send", class: "btn btn-success mb-3" %>
  <% end %>
</div>
