<head>
  <title>
  <%= "Chat between #{@connection.receiver.name} and #{@connection.requester.name}" %>
  </title>
</head>

<div class="chat-card">
  <div class="container chatroom"
    data-controller="connection-subscription"
    data-connection-subscription-connection-id-value="<%= @connection.id %>"
    data-connection-subscription-current-user-id-value="<%= current_user.id %>"
    data-connection-subscription-current-user-photo-value="<%= current_user.photo.key %>"
  >
    <h1><%= "Chat between #{@connection.receiver.name} and #{@connection.requester.name}" %></h1>
    <div class="messages" data-connection-subscription-target="messages">
      <% @connection.messages.each do |message| %>
      <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
          <div class='chat-avatar'>
            <%#= message.sender?(current_user) ? (cl_image_tag current_user.photo.key, class: "avatar") : (image_tag "Chris.jpg", class: "avatar") %>
            <% if message.sender?(current_user) %>
              <%= cl_image_tag current_user.photo.key, class: "avatar" %>
            <% else %>
              <%# raise %>
              <% if current_user == @connection.receiver %>
                <%# render @connection.requester %>
                <%= cl_image_tag @connection.requester.photo.key, class: "avatar" %>
              <% else %>
                <%# render @connection.receiver %>
                <%= cl_image_tag @connection.receiver.photo.key, class: "avatar" %>
              <% end %>
            <% end %>
          </div>

        <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
          <%= render "messages/message", message: message %>
        </div>
      </div>
      <% end %>
    </div>

    <%= simple_form_for [@connection, @message],
      html: { data: { action: "turbo:submit-end->connection-subscription#resetForm" },
      class: "d-flex" } do |f|
    %>
      <%= f.input :content,
        label: false,
        placeholder: "Message #{@connection.receiver.name}",
        wrapper_html: {class: "flex-grow-1"}
      %>
      <%= f.submit "Send", class: "btn btn-success mb-3" %>
    <% end %>
  </div>
</div>
