<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: artists_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="homepage-container">
    <div class="homepage-subcontainer">
      <% if params[:query].present? %>
        <h2 class="cards-title">All <span class="musicians-title">Artists</span> in <%= params[:query] %></h2>
      <% else %>
        <h2 class="cards-title">All <span class="musicians-title">Artists</span></h2>
      <% end %>
      <div class="profile-cards">
        <% @artists.each do |user| %>
          <%= render partial: "profile_card", locals: {user: user} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
