<img class="theme" src="http://res.cloudinary.com/dpqolyzbh/image/upload/c_fill,h_300,w_300/v1/development/4ty516md6xyruam4cmiuobqhblcb" alt="Profil's theme">
<div class='container'>
  <% if @artist.photo.key? %>
    <div class="profil-picture">
      <img class="profil" <%= cl_image_tag @artist.photo.key, height: 300, width: 300, crop: :fill %>
      <%= image_tag "connection-status/circle-48.png", class:"connected" %>
    </div>
  <% end %>

  <div class='profile-page-top'>
    <div class=''>
      <h1><%= @artist.name %></h1>
      <p><%= @artist.location %></p>
    </div>
    <%= button_to "Connect", user_connections_path(@artist), class:"btn btn-flat"%>
  </div>

  <h4>Artist bio:</h4>
  <p><%= @artist.bio %></p>
  <div class="genre">
    <h4>Instruments</h4>
    <div class="instruments">
      <% @artist.instruments.each do |instrument| %>
        <div class="instrument">
          <div class="instrument-name">
            <%= "#{instrument.name}" %>
          </div>
          <div class="proficiency">
            <%= "#{@my_instruments.where(instrument_id: instrument.id).first.proficiency}" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class='instruments'>
    <h4>Plays:</h4>
    <% @artist.instruments.each do |instrument| %>
      <ul><%= "#{@my_instruments.where(instrument_id: instrument.id).first.proficiency} in #{instrument.name}" %></ul>
    <% end %>
  </div>

  <div class='genres'>
    <h4>Interested in:</h4>
      <% @artist.genres.each do |genre| %>
        <ul><%= genre.name %>  </ul>
      <% end %>
    </p>
  </div>
</div>

<%= link_to "My connections", connections_path %>

<%# To pick up for AJAX buttons %>
<%# <div data-controller="submit-connection-request" data-submit-connection-request-requester-id-value=<%= current_user.id %>
  <%# data-submit-connection-request-receiver-id-value=<%= @artist.id %>
  <%# <button data-submit-connection-request-target="connect-button" data-action="click->submit-connection-request#send"> %>
    <%# Connect %>
  <%# </button> %>
<%# </div> %>

<% @artist.media.each do |medium| %>
  <% if medium.content_type.include?('image') %>
    <%= cl_image_tag(medium.key) %>
  <% else %>
    <%= video_tag url_for(medium), controls: true %>
  <% end %>
<% end %>
