<div class="image-theme">
</div>
<div class='container-profile'>
  <% if @artist.photo.key? %>
    <div class="profil-picture">
      <img class="profil" <%= cl_image_tag @artist.photo.key, height: 300, width: 300, crop: :fill %>
      <%= image_tag "connection-status/circle-48.png", class:"connected" %>
    </div>
  <% end %>

  <div class='profile-page-top'>
    <div>
      <h1><%= @artist.name %></h1>
      <p class='location'><%= @artist.location %></p>
    </div>
    <%= button_to "Connect", user_connections_path(@artist), class:"btn btn-flat"%>
  </div>
  <p class='bio'><%= @artist.bio %></p>     
  <div class="genre">
    <h4>Genres</h4>
      <% @artist.genres.each do |genre| %>
        <%# <ul> <%= genre.name %>
      <%# <% end %>
    <%# </p>
  </div> %>

  <div class="profile-genres">
    <% if @artist.genres.exists? %>
      <h4>Genres</h4>
      <div class="genre-pill">
        <p><%= @artist.genres.first.name %></p>
      </div>
    <% end %>
  </div>

  <div class="profile-instruments">
    <h4>Instruments</h4>
    <div class="instruments">
      <div class="instrument">
        <% @artist.instruments.each do |instrument| %>
          <div class="instrument-name">
            <p><%= "#{instrument.name}" %></p>
          </div>
        <% end %>
      </div>
      <div class="proficiency">
        <% @artist.instruments.each do |instrument| %>
          <div class="instrument-proficiency">
            <p><%= "#{@my_instruments.where(instrument_id: instrument.id).first.proficiency}" %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to "My connections", connections_path %>

<%# To pick up for AJAX buttons %>
<%# <div data-controller="submit-connection-request" data-submit-connection-request-requester-id-value=<%= current_user.id %>
  <%# data-submit-connection-request-receiver-id-value=<%= @artist.id %>
  <%# <button data-submit-connection-request-target="connect-button" data-action="click->submit-connection-request#send"> %>
    <%# Connect %>
  <%# </button> %>
<%# </div> %>

<% @artist.media.each do |medium| %>
  <% if medium.content_type.include?('image') %>
    <%= cl_image_tag(medium.key) %>
  <% else %>
    <%= video_tag url_for(medium), controls: true %>
  <% end %>
<% end %>
