<div class="banner">
  <div class="container">
    <div class="logo">
    </div>
    <div class="anthem">
      <h1>
        <strong>Join Forces, </strong><strong>Make Music.</strong>
      </h1>
      <p>The only place where musicians get to connect and create awesome music!</p>
      <div class="col-sm-8 my-3">
        <%= form_with url: artists_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Type a keyword"
            %>
          <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <!-- <p><%= link_to 'list of all artists', artists_path %></p> -->
  </div>
</div>
<div class="container">
  <h2>Suggested Musicians</h2>
  <div class="list-container">
    <% suggested = User.all %>
    <% selections = [] %>
    <% 5.times do %>
      <% user = suggested.sample %>
      <% selections.push(user) %>
    <% end %>
    <% selections.each do |selected| %>
      <div class="list-element">
        <p><%= link_to selected.name, artist_path(selected) %></p>
        <p><%= selected.location %></p>
        <p><%= selected.bio %></p>
      </div>
    <% end %>
  </div>
  <h2>New Projects</h2>
  </ul>
  <div class="homepage-container">
    <div class="homepage-subcontainer">
      <h2 class="cards-title">Suggested <span class="musicians-title">Musicians</span></h2>

      <div class="profile-cards">
        <% 16.times do %>
          <%= render "profile_card" %>
        <% end %>
      </div>
    </div>
    <div class="homepage-subcontainer">
      <h2 class="cards-title">New <span class="projects-title">Projects</span></h2>

      <div class="project-cards">
        <% 16.times do %>
          <%= render "project_card" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
     
<!-- <div class="cards">

<div class="card-artists">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-artists-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-artists-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-artists-user avatar-bordered" />
  </div>
</div>
</div> -->

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> in Mtl.
  </div>
</div>

<% if current_user %>
  <%= link_to "New project", new_user_project_path(current_user) %>
  <%= link_to "All my projects", user_projects_path(current_user) %>
<% else %>
<% end %>
