<div class="banner" style="background-image: linear-gradient(rgba(24,99,67),rgba(24,99,67,1));">
  <div class="container">
    <h1>
      <strong>Join Forces, </strong><strong>Make Music.</strong>
    </h1>
    <p>The only place where musicians get to connect and create awesome music!</p>
    <p><%= link_to 'list of all artists', artists_path %></p>
  </div>
</div>
<div>
  <h1>Suggested Musicians</h1>
  <% suggested = User.all %>
  <% selections = [] %>
  <% user = suggested.sample %>
  <% 5.times do %>
    <% user = suggested.sample %>
    <% selections.push(user) %>
  <% end %>
  <ul style="flex-direction: row;">
    <% selections.each do |selected| %>
      <div class="container", style="display:block;" >
        <li>
          <p><%= link_to selected.name, artist_path(selected) %></p>
          <p><%= selected.location %></p>
          <p><%= selected.bio %></p>
        </li>
      </div>
    <% end %>
  </ul>
  <div class="homepage-container">
    <div class="homepage-subcontainer">
      <h2 class="cards-title">Suggested <span class="musicians-title">Musicians</span></h2>

      <div class="profile-cards">
        <% 16.times do %>
          <%= render "profile_card" %>
        <% end %>
      </div>
    </div>
    <div class="homepage-subcontainer">
      <h2 class="cards-title">New <span class="projects-title">Projects</span></h2>

      <div class="project-cards">
        <% 16.times do %>
          <%= render "project_card" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
