<h1><%= @project.name %></h1>

<div class="posts">
  <% @project.posts.each do |post| %>
    <div class="post-row d-flex justify-content-center">
      <div class="post">
        <%= render "posts/post", post: post %>
      </div>
    </div>
  <% end %>
</div>

<%= simple_form_for [@project, @post],
  html: {class: "d-flex"} do |f|
%>
  <%= f.input :content,
    label: false,
    placeholder: "Message ##{@project.name}",
    wrapper_html: {class: "flex-grow-1"}
  %>
  <%= f.submit "Post", class: "btn btn-primary mb-3" %>
<% end %>



<%= link_to "Edit project", edit_user_project_path(current_user, @project) %>

<%= link_to "Delete project", user_project_path(current_user, @project), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>

<%= link_to "home", root_path %>
