<head>
  <title>
    Here is the project page
  </title>
</head>

<div
  data-controller="project-subscription"
  data-project-subscription-project-id-value="<%= @project.id %>"
  class='container-project'
>
  <div class="project-page-top">
    <div class="project-page-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://image.cnbcfm.com/api/v1/image/106276188-1575391129046gettyimages-592255768.jpeg?v=1575577835&w=740&h=416&ffmt=webp&vtcrop=y)">
      <div class="project-page-basic-info">
        <p class="project-page-name"><%= @project.name %></p>
        <p class="project-page-location">Montreal, Canada</p>
      </div>
    </div>
    <div class="project-page-content">
      <div class="project-left-content">
        <div class="project-page-users">
          <div>
            <% @project.users.first(4).each do |project_user| %>
              <%#= image_tag project_user.photo %>
              <%= cl_image_tag project_user.photo.key, :gravity=>"face", :radius=>"max", :crop=>"fill", class: "project-page-user avatar-bordered-project-page" %>
            <% end %>
          </div>
        </div>
        <div class="project-buttons">
          <%= button_to "Edit project", edit_user_project_path(current_user, @project), method: :get, class: "btn btn-success btn-sm m-1" %>
          <%= button_to "Delete project", user_project_path(current_user, @project), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-success btn-sm m-1" %>
          <button type="button" class="btn btn-success btn-sm m-1" data-bs-toggle="modal" data-bs-target="#connectionsModal">
            Add Artist
          </button>
        </div>
      </div>
        <%# <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="project-page-user avatar-bordered-project-page" />
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="project-page-user avatar-bordered-project-page" />
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="project-page-user avatar-bordered-project-page" />
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="project-page-user avatar-bordered-project-page" /> %>
      <div class="project-page-bio">
        <%= @project.bio %>
      </div>
    </div>
  </div>
  <!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="connectionsModal" tabindex="-1" aria-labelledby="connectionsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="connectionsModalLabel">Artists</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="my-connection-cards">
            <% Connection.where("(requester_id = ? OR receiver_id = ?) AND status = ?", current_user.id, current_user.id, "accepted").each do |connection| %>
              <% user = current_user.id == connection.receiver_id ? connection.requester : connection.receiver %>
              <div class="my-connection-card">
                <div class="connection-top">
                  <% if user.photo.key? %>
                    <%= cl_image_tag user.photo.key, :gravity=>"face", :radius=>"max", :crop=>"fill", class: "connection-user avatar-bordered-profile" %>
                  <% else %>
                    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="connection-user avatar-bordered-profile" />
                  <% end %>
                  <div>
                    <h2 class="connection-title"><%= link_to user.name, artist_path(user) %></h2>
                    <p class="connection-location"><%= user.location %></p>
                  </div>
                </div>
                <div class="connection-buttons">
                  <%= button_to "Add", add_user_project_path(@project, user_id: user.id),
                  { class: "btn btn-success btn-sm m-2", "data-controller": "button", "data-button-target": "addProjectUserButton", "data-action": "click->button#disable" }%>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

  <!-- Lines that i've commented out - Arnaud -->
  <%#= button_to "Edit project", edit_user_project_path(current_user, @project), class:"btn btn-flat"%>
  <%#= button_to "Delete project", user_project_path(current_user, @project), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-flat" %>
  <div class="project-page-bottom">

    <div class='my-media project-section'>
      <h4 class="project-section-header">Project Files</h4>
      <div class='project-media'>
        <div class='audio-video'>
          <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/the-frights" title="The Frights" target="_blank" style="color: #cccccc; text-decoration: none;">The Frights</a> · <a href="https://soundcloud.com/the-frights/the-drummers-in-trouble" title="The Drummer’s in Trouble!" target="_blank" style="color: #cccccc; text-decoration: none;">The Drummer’s in Trouble!</a></div>
          <iframe width="300" height="125" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1473042775&color=%23d6b89a&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=true"></iframe>
        </div>

        <div class='audio-video'>
          <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/patrick-drummer" title="Patrick Drummer" target="_blank" style="color: #cccccc; text-decoration: none;">Patrick Drummer</a> · <a href="https://soundcloud.com/patrick-drummer/system-of-a-down-chop-suey" title="System of a down - Chop Suey" target="_blank" style="color: #cccccc; text-decoration: none;">System of a down - Chop Suey</a></div>
          <iframe width="300" height="125" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/136841533&color=%23d6b89a&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
        </div>

        <div class='audio-video'>
          <iframe width="300" height="169" src="https://www.youtube.com/embed/FqJdzYY_Fas?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>

        <div class='audio-video'>
          <iframe width="300" height="169" src="https://www.youtube.com/embed/h6b8cRrIz6o?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="posts">
      <div class="create-post-outer">
        <div class="create-post-user">
          <%= cl_image_tag current_user.photo.key, :gravity=>"face", :radius=>"max", :crop=>"fill", class: "profile-user avatar-bordered-profile" %>
          <small>
            <strong><%= current_user.name %></strong>
          </small>
        </div>
        <div class="create-post-card">
          <%= simple_form_for [@project, @post],
          html: { data: { action: "turbo:submit-end->project-subscription#resetForm" },
          class: "post-form"} do |f|
          %>
            <%= f.input :content,
              label: false,
              placeholder: "Post ##{@project.name}",
              wrapper_html: {class: "flex-grow-1"}
            %>
            <%= f.submit "Post", class: "btn btn-sm btn-success mb-3 rounded-pill" %>
          <% end %>
        </div>
      </div>
      <div data-project-subscription-target="posts">
        <div class="recent-activity-label">
          RECENT ACTIVITY
        </div>
        <% @project.posts.each do |post| %>
          <%= render "posts/post", post: post %>
        <% end %>
      </div>
    </div>
    <div>
      <iframe src="https://calendar.google.com/calendar/embed?height=200&wkst=1&bgcolor=%23badbc9&ctz=America%2FToronto&showNav=1&showDate=0&showPrint=0&showCalendars=0&showTz=0&showTabs=0&showTitle=1&title=Banded%20Events&src=YzgzNTY4NTc3YTRlMjNiYWY3N2QwN2VjOWQ1NjQ5OTRkZWJjOTFmYmZkNzQ3ZWI2NmIyNTE1NThhN2IyMjJiNkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%233F51B5"
      style="border-radius: 5px;" width="300" height="300" frameborder="0" scrolling="no" class="project-calendar"></iframe>
    </div>
  </div>
</div>
