<div
  data-controller="project-subscription"
  data-project-subscription-project-id-value="<%= @project.id %>"
>
  <div class="project-page-top">
    <div class="project-page-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://image.cnbcfm.com/api/v1/image/106276188-1575391129046gettyimages-592255768.jpeg?v=1575577835&w=740&h=416&ffmt=webp&vtcrop=y)">
      <div class="project-page-basic-info">
        <p class="project-page-name"><%= @project.name %></p>
        <p class="project-page-location">Montreal, Canada</p>
      </div>
    </div>
    <div class="project-page-content">
      <div class="project-left-content">
        <div class="project-page-users">
          <div>
            <% @project.users.first(4).each do |project_user| %>
              <%#= image_tag project_user.photo %>
              <%= cl_image_tag project_user.photo.key, :gravity=>"face", :radius=>"max", :crop=>"fill", class: "project-page-user avatar-bordered-project-page" %>
            <% end %>
          </div>
        </div>
        <div class="project-buttons">
          <%= button_to "Edit project", edit_user_project_path(current_user, @project), method: :get, class: "btn btn-success btn-sm m-1" %>
          <%= button_to "Delete project", user_project_path(current_user, @project), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-success btn-sm m-1" %>
          <button type="button" class="btn btn-success btn-sm m-1" data-bs-toggle="modal" data-bs-target="#connectionsModal">
            Add Artist
          </button>
        </div>
      </div>
        <%# <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="project-page-user avatar-bordered-project-page" />
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="project-page-user avatar-bordered-project-page" />
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="project-page-user avatar-bordered-project-page" />
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="project-page-user avatar-bordered-project-page" /> %>
      <div class="project-page-bio">
        Introducing John Coltrane, a dynamic music group that blends infectious rhythms, soulful melodies, and electrifying performances.
        With their unique sound and passionate energy, they captivate audiences with a fusion of genres, creating an unforgettable musical experience. Get ready to groove as
        John Coltrane takes you on a sonic journey you won't want to miss!
      </div>
    </div>
  </div>
  <!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="connectionsModal" tabindex="-1" aria-labelledby="connectionsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="connectionsModalLabel">Artists</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="my-connection-cards">
            <% Connection.where("(requester_id = ? OR receiver_id = ?) AND status = ?", current_user.id, current_user.id, "accepted").each do |connection| %>
              <% user = current_user.id == connection.receiver_id ? connection.requester : connection.receiver %>
              <div class="my-connection-card">
                <div class="connection-top">
                  <% if user.photo.key? %>
                    <%= cl_image_tag user.photo.key, :gravity=>"face", :radius=>"max", :crop=>"fill", class: "connection-user avatar-bordered-profile" %>
                  <% else %>
                    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="connection-user avatar-bordered-profile" />
                  <% end %>
                  <div>
                    <h2 class="connection-title"><%= link_to user.name, artist_path(user) %></h2>
                    <p class="connection-location"><%= user.location %></p>
                  </div>
                </div>
                <div class="connection-buttons">
                  <%= button_to "Add", add_user_project_path(@project, user_id: user.id),
                  { class: "btn btn-success btn-sm m-2", "data-controller": "button", "data-button-target": "addProjectUserButton", "data-action": "click->button#disable" }%>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

  <!-- Lines that i've commented out - Arnaud -->
  <%#= button_to "Edit project", edit_user_project_path(current_user, @project), class:"btn btn-flat"%>
  <%#= button_to "Delete project", user_project_path(current_user, @project), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-flat" %>

  <div class="posts">
    <div class="d-flex justify-content-center">
      <%= simple_form_for [@project, @post],
      html: { data: { action: "turbo:submit-end->project-subscription#resetForm" },
      class: "post-form"} do |f|
      %>
        <%= f.input :content,
          label: false,
          placeholder: "Message ##{@project.name}",
          wrapper_html: {class: "flex-grow-1"}
        %>
        <%= f.submit "Post", class: "btn btn-primary mb-3" %>
      <% end %>
    </div>
    <div data-project-subscription-target="posts">
      <% @project.posts.each do |post| %>
        <%= render "posts/post", post: post %>
        <!-- Comments Modal -->
        <div class="modal fade" id=<%="commentModal#{post.id}"%> tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><%= "Comment as #{current_user.name}" %></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" data-controller="comments-subscription" data-comments-subscription-post-id-value="<%= post.id %>">
                <div class="comments">
                  <div class="d-flex justify-content-center">
                    <%= simple_form_for [post, Comment.new],
                    html: {data: { action: "turbo:submit-end->comments-subscription#resetForm" }, class: "post-form"} do |f|
                    %>
                      <%= f.input :content,
                        label: false,
                        placeholder: "Comment ##{post.id}",
                        wrapper_html: {class: "flex-grow-1"}
                      %>
                      <%= f.submit "Comment", class: "btn btn-primary mb-3" %>
                    <% end %>
                  </div>
                  <div class="comments" data-comments-subscription-target="comments">
                    <% post.comments.each do |comment| %>
                      <div class="comment">
                        <%= render "comments/comment", comment: comment %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
