<div class="post-row d-flex justify-content-center" data-controller="reveal-comments">
  <div class="post">
    <div id="post-<%= post.id %>">
      <%= cl_image_tag post.sender.photo.key, :gravity=>"face", :radius=>"max", :crop=>"fill", class: "profile-user avatar-bordered-profile" %>
      <small>
        <strong><%= post.sender.name %></strong>
        <i><%= post.created_at.strftime("%a %b %e at %l:%M %p") %></i>
      </small>
      <div class="post-content">
        <p><%= post.content %></p>
      </div>
      <!-- Button to trigger Comments Modal -->
      <%# <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target=<%="#commentModal#{post.id}"%>
        <%# Comment %>
      <%# </button> %>
      <div class="comments-link" data-controller="comments-count-subscription"
        data-comments-count-subscription-target="count" data-comments-count-subscription-post-id-value="<%= post.id %>"
      >
        <%= link_to "Show #{post.comments.count} Comments", "#", {"data-bs-toggle": "modal", "data-bs-target": "#commentModal#{post.id}"} %>
      </div>
    </div>
    <div class="comments d-none" data-reveal-comments-target="comments">
      <div class="d-flex justify-content-center">
        <%= simple_form_for [post, Comment.new],
        html: {class: "post-form"} do |f|
        %>
          <%= f.input :content,
            label: false,
            placeholder: "Comment ##{post.id}",
            wrapper_html: {class: "flex-grow-1"}
          %>
          <%= f.submit "Comment", class: "btn btn-sm btn-success mb-3 rounded-pill" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- Comments Modal -->
<div class="modal fade" id=<%="commentModal#{post.id}"%> tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= "Comment as #{current_user.name}" %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" data-controller="comments-subscription" data-comments-subscription-post-id-value="<%= post.id %>">
        <div class="comments">
          <div class="d-flex justify-content-center">
            <%= simple_form_for [post, Comment.new],
            html: {data: { action: "turbo:submit-end->comments-subscription#resetForm" }, class: "post-form"} do |f|
            %>
              <%= f.input :content,
                label: false,
                placeholder: "Add a comment...",
                wrapper_html: {class: "flex-grow-1"}
              %>
              <%= f.submit "Comment", class: "btn btn-sm btn-success mb-3 rounded-pill" %>
            <% end %>
          </div>
          <div class="comments" data-comments-subscription-target="comments">
            <% post.comments.each do |comment| %>
              <div class="comment">
                <%= render "comments/comment", comment: comment %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
