<div class="post-row d-flex justify-content-center" data-controller="reveal-comments">
  <div class="post">
    <div id="post-<%= post.id %>">
      <%= cl_image_tag post.sender.photo.key, :gravity=>"face", :radius=>"max", :crop=>"fill", class: "profile-user avatar-bordered-profile" %>
      <small>
        <strong><%= post.sender.name %></strong>
        <i><%= post.created_at.strftime("%a %b %e at %l:%M %p") %></i>
      </small>
      <p><%= post.content %></p>
      <!-- Button to trigger Comments Modal -->
      <%# <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target=<%="#commentModal#{post.id}"%>
        <%# Comment %>
      <%# </button> %>
      <%= link_to "Show #{post.comments.count} Comments", "#", {"data-bs-toggle": "modal", "data-bs-target": "#commentModal#{post.id}"} %>
    </div>
    <div class="comments d-none" data-reveal-comments-target="comments">
      <div class="d-flex justify-content-center">
        <%= simple_form_for [post, Comment.new],
        html: {class: "post-form"} do |f|
        %>
          <%= f.input :content,
            label: false,
            placeholder: "Comment ##{post.id}",
            wrapper_html: {class: "flex-grow-1"}
          %>
          <%= f.submit "Comment", class: "btn btn-primary mb-3" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
